$color-page: #FFFFFF;
$color-page-login: #F5F5F5;
$color-button: #252525;
$color-text: #252525;
$color-button-text: #FFFFFF;
$color-primary: #7D357F;
$color-box: #F5F5F5;
$color-box-secondary: #DFDFDF;

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 10vh;
    background: $color-page;
    color: $color-text;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}