@import 'react-big-calendar/lib/sass/styles';

.minus-icon {
    width: 18px !important;
    height: 18px !important;
}

.cursor:hover {
    cursor: pointer;
}

.rbc-date-cell:hover {
    cursor: pointer;
}

.self-learning-day {
    background-color: #c9d4ff;
}

.team-learning-day {

}

.self-and-team-learning-day {

}

.icon-position {
    float: left;
    margin-left: 2px;
    margin-top: 2px;
}