@import 'react-big-calendar/lib/sass/styles';

.minus-icon {
    width: 18px !important;
    height: 18px !important;
}

.cursor:hover {
    cursor: pointer;
}

.rbc-date-cell:hover {
    cursor: pointer;
}

.self-learning-day {
    border: solid 1px #ffaaaa !important;
}

.team-learning-day {

}

.self-and-team-learning-day {

}

.icon-position {
    float: left;
    margin-top: 2px;
}