.rightText {
    float: right;
}

.infoIcon {
    float: right;
    margin-bottom: 16px;
}

.rightLimitText {
    float: right;
    margin-left: 4px;
}

.rightRedText {
    margin-left: 4px;
    float: right;
    color: red;
}

.rightYellowText {
    color: #FB7D33;
    margin-left: 4px;
    float: right;
}