$color-page: #FFFFFF;
$color-button: #252525;
$color-text: #252525;
$color-button-text: #FFFFFF;
$color-primary: #7D357F;
$color-box: #F5F5F5;
$color-box-secondary: #DFDFDF;

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}
